
@font-face{
    font-family: font;                                      /* eigene Schrift hinzugefügt */
    src: url(../fonts/Japanischer_Schriftstyl.ttf);
}

html{                   /* allgemein daten für die website */
    height: 100%;
    width: 100%;
    
}
body{                  /* die grösse vom Body part */ 
    padding: 0;
    margin: 0;
}

#wrapper{                   /*  */
    display: flex;
}

.nav{                           /* einstelluneg für die navigation */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 11%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(241, 241, 241);
    padding-top: 85px;
    border-right: 2px solid rgb(211, 211, 211);
    overflow: hidden;
}

.nav a{                         /* links in der navigation */
    padding: 10px;
    color: rgb(165, 38, 38);
    text-decoration: none;
    font-family: font;
    font-size: 22px;
    font-weight: bold;
}

#nav-button{                /* einstellungen für den navigations button */
    float: left;
    visibility: hidden;
}
#nav-close{                     /* einstellungen für den navigationsbutton zum schliessen */
    visibility: hidden;
    color: rgb(165, 38, 38);
    z-index: 1;
    font-size: 70px;
    padding: 10px;
}

.nav ul{                 /* unternavigations punkte */
    margin: 0;
    font-size: 20px;
    color: rgb(165, 38, 38);
}


#home{                       /* rest der seite (titel, text...) */
    height: 100%;
    width: 89%;
    right: 0;
    position: fixed;
    overflow: auto;
   
}

header h1{
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: font;
    font-size: 70px;
    color: rgb(165, 38, 38);
    background-color: rgb(241, 241, 241);
    border-bottom: 2px solid rgb(211, 211, 211);
}

header h1 img{
    width: 60px;
}

#home .textbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#home h2{
    color: rgb(165, 38, 38);   
    width: 100%;
    text-align: center;
    font-family: font;
    font-size: 50px;
     text-decoration: underline; 
}

#home h3{
    color:rgb(165, 38, 38);
    width: 100%;
    text-align: center;
    font-family: font;
    font-size: 35px;
}

#home h4{
    color: black;
    width: 100%;
    text-align: center;
    font-family: font;
    font-size: 25px;
}
#home h5{
    color: black;
    width: 100%;
}

.textbox .imgbox{           /* textbox für die imagebox */
    width: 100%;
    display: flex;
    justify-content: center;

}
.textbox .imgbox img{       /* grösse der bilder */
    width: 400px;

}

.text{                   /* grösse des Textes im Body Bereich */
    width: 70%;
}

@media screen and (max-width: 950px) {       /* media querry angepasst */
    .nav{
        width: 0;
        border: none;
    }

    #home{
        width: 100%;
    }

    #nav-button{
        visibility: visible;
    }
}

@media screen and (max-width: 500px) {

    header h1{
        font-size: 30px ;
        padding: 0;
    }

    #home h2{
        font-size: 35px ;
        padding: 0;
    }

    #home p{
        font-size: 13px ;
    }

    .nav a{
        font-size: 15px ;
    }
    
    header img{
        width: 0;
        height: 0;
    }

    #nav-close{
        font-size: 30px;
    }
    #nav-button{
        margin: 9px;
        
    }
    .imgbox img{
        width: 50%;
        height: 50%;
        
    }

}
